* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-style: normal;
  list-style: none;
  text-align: center;
}
header {
  height: 6vh;
  background-color: #ff1fdd;
  color: #fbfaf4;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 40px;
}
nav ul {
  display: flex;
  gap: 10px;
}
nav a {
  color: #fbfaf4;
  cursor: pointer;
  transition: 1.5ms;
}
nav a:hover {
  color: palevioletred;
  border-bottom: 2px solid plum;
}
.student-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.student-card {
  background-color: #fbfaf4;
  color: palevioletred;
  border: 2px solid #ff1fdd;
  padding: 20px;
  margin: 10px;
}
.delete-buton {
  color: #ff1fdd;
  font-weight: bold;
}
